<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path ==='/'?'active':null %>" href="/">Movies</a></li>
            <li class="main-header__item"><a class="<%= path ==='/admin/add-movie'?'active':null %>" href="/admin/add-movie">Add Movie</a></li>            
        </ul>
        <ul class="main-header__item-list">
            <!--li class="main-header__item"><a class="<%= path ==='/login'?'active':null %>" href="/login">Login</a></li-->
            <li class="main-header__item"><h3>The World Movie Database (TWMDB)</h3></li>
        </ul>
    </nav>
</header>

<main>